* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color palette */
:root {
    --persian-plum: rgba(101, 13, 27, 1);
    --cafe-au-lait: rgba(173, 131, 80, 1);
    --black: rgba(0, 0, 0, 1);
    --soft: rgba(121, 115, 157, 1);
    --light: rgba(255, 238, 242, 1);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    background-size: cover;
    background-attachment: fixed;
    padding: 20px 35px;
    position: sticky;
    top: 0;
    z-index: 10;
}

header h1 {
    font-weight: bold;
    font-size: 2vw;
    font-weight: lighter;
    color: var(--light);
    margin: 0;
}

h2 {
    margin-bottom: 10px;
}

nav.select a::before, nav.select a::after {
    position: absolute;
    content:"";
    height: 100%;
    width: 2px;
    top: 0;
    background: var(--light);
    opacity: 0.3;
    transition: all 0.3s;
}

nav.select a::before {
    left: 0;
}

nav.select a::after {
    right: 0;
}

nav.select a:hover::before, nav.select a:hover::after {
    width: 100%;
}

header a {
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    cursor: pointer;
    color: var(--light);
}

.hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: 100vw;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: flex-start;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px;
}

.selfie {
    padding: 140px 125px;
    background-image: url("../images/junior.JPG");
    background-position: center;
    background-size: cover;
    display: flex;
    border: 1rem solid var(--light);
    border-radius: 10px;
}

body {
    color: var(--cafe-au-lait);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.page-section {
    background-color: var(--persian-plum);
    padding: 25px 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

#work, #contact {
    display: block;
}

.grid-container {
    display: grid;
    column-gap: 15px;
    row-gap: 15px;
    grid-auto-flow: column;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(200px, 1fr);
}

.grid-item {
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    text-decoration: none;
    border: 5px solid var(--soft);
    background-color: var(--black);
    color: var(--light);
    min-height: 200px;
    grid-column: span 3;
    grid-row: span 1;
}

.grid-item:hover {
    transition: .5s;
    opacity: .8;
}

.text {
    background-color: var(--cafe-au-lait);
}

.contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.contact address a {
    text-decoration: none;
    background-color: var(--cafe-au-lait);
    font-style: normal;
    font-size: 1rem;
    color: var(--light);
    border: 5px solid var(--cafe-au-lait);
    border-radius: .5rem;
    padding: 1rem;
}

.contact address a:hover {
    transition: .5s;
    background-color: var(--black);
    border: 5px solid var(--black);
}

.run-buddy {
    background-image: url("../images/screenshots/run-buddy.PNG");
    background-size: 450px;
    background-repeat: no-repeat;
}
  
.horiseon-refactor {
    background-image: url("../images/screenshots/horiseon-nav-with-hero.PNG");
    background-size: 450px;
    background-repeat: no-repeat;
}

.js-password-generator {
    background-image: url("../images/screenshots/password-gen-site.PNG");
    background-size: 450px;
    background-repeat: no-repeat;
}

.nomadica {
    background-image: url("../images/screenshots/nomadica.png");
    background-size: 450px;
    background-repeat: no-repeat;
}

@media screen and (max-width:1024px) {
    header h1 {
        font-size: 3.5vw;
    }
    .page-section {
        padding: 25px 100px;
    }
    .grid-container {
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-auto-rows: minmax(200px, 1fr);
    }
    .grid-item {
        grid-column: span 5;
        grid-row: span 1;
    }
    .hero {
        background-size: 120vw;
    }
}

@media screen and (max-width:768px) {
    .hero {
        justify-content: center;
        background-size: 140vw;
    }
    .contact address a {
        width: 60vw;
        margin: 1rem;
    }
    .contact address {
        justify-content: center;
    }
}

@media screen and (max-width:640px) {
    header {
        display: block;
        text-align: center;
    }
    .select {
        display: flex;
        justify-content: center;
    }
    header h1 {
        font-size: 6vw;
        margin-bottom: 1.5rem;
    }
    .hero {
        background-size: 300vw;
    }
    .contact address a {
        width: 60vw;
    }
    .grid-container {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .page-section {
        padding: 25px 50px;
    }
}

