* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color palette */
:root {
  --persian-plum: rgba(101, 13, 27, 1);
  --cafe-au-lait: rgba(173, 131, 80, 1);
  --black: rgba(0, 0, 0, 1);
  --soft: rgba(121, 115, 157, 1);
  --light: rgba(255, 238, 242, 1);
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  background-size: cover;
  background-attachment: fixed;
  padding: 20px 35px;
  position: sticky;
  top: 0;
  z-index: 10;
}

header h1 {
  font-weight: bold;
  font-size: 2vw;
  font-weight: lighter;
  color: var(--light);
  margin: 0;
}

h2 {
  margin-bottom: 10px;
}

.select {
  display: flex;
}

.select a::before,
.select a::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 2px;
  top: 0;
  background: var(--light);
  opacity: 0.3;
  transition: all 0.3s;
}

.select a::before {
  left: 0;
}

.select a::after {
  right: 0;
}

.select a:hover::before,
.select a:hover::after {
  width: 100%;
}

header a {
  text-decoration: none;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  cursor: pointer;
  color: var(--light);
}

.hero {
  background-image: url('assets/images/hero-bg.jpeg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-start;
  background-repeat: no-repeat;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px;
}

.selfie {
  padding: 140px 140px;
  background-image: url('assets/images/junior.JPG');
  background-position: center;
  background-size: cover;
  display: flex;
  border-radius: 1rem;
}

html,
body {
  height: 100%;
}

body {
  /* color: var(--cafe-au-lait); */
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#about div {
  display: flex;
  flex-wrap: wrap;
}

.skills {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0 auto;
  align-items: center;
}

.skills li {
  font-size: 20px;
}

.page-section {
  background-color: white;
  padding: 25px 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

#work,
#contact {
  display: block;
}

.modalBackdrop {
  background: rgba(0, 0, 0, 0.65);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
}

.modalContainer {
  background: var(--black);
  border-radius: 5px;
  max-width: 100%;
  margin: 50px auto;
  padding: 15px;
  width: 960px;
  text-align: center;
}

.modalContainer img {
  width: 100%;
}

.modalContainer p {
  padding: 10px;
}

.tools {
  color: var(--light);
  text-align: left;
}

.modalTitle {
  color: var(--light);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: left;
}

.grid-container {
  display: grid;
  column-gap: 15px;
  row-gap: 15px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(200px, 1fr);
  padding-top: 10px;
}

.grid-item {
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  text-decoration: none;
  border: 5px solid var(--black);
  background-color: var(--black);
  color: var(--light);
  min-height: 200px;
  grid-column: span 3;
  grid-row: span 1;
}

.grid-item:hover {
  transition: 0.5s;
  opacity: 0.8;
}

.text {
  background-color: var(--black);
  padding: 0.5rem;
}

#contact-section {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.contact address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

form {
  width: 600px;
  text-align: center;
  margin: 0 auto;
}

label {
  display: block;
  font-size: 22px;
  text-align: left;
}

input {
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem;
  border: 3px solid var(--black);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus,
textarea:focus {
  border: 3px solid var(--soft);
}

textarea {
  width: 100%;
  height: 120px;
  border: 3px solid var(--black);
  padding: 5px;
  resize: vertical;
  outline: none;
}

button {
  text-decoration: none;
  border: none;
  margin: 5px 10px;
  padding: 10px 10px;
  position: relative;
  cursor: pointer;
  color: var(--black);
  background-color: transparent;
  font-style: normal;
  font-size: 1rem;
}

button::before,
button::after {
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  content: '';
  height: 100%;
  width: 2px;
  top: 0;
  background: var(--black);
  opacity: 0.3;
  transition: all 0.3s;
}

button::before {
  left: 0;
}

button::after {
  right: 0;
}

button:hover::before,
button:hover::after {
  width: 100%;
}

address a::before,
address a::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 2px;
  top: 0;
  background: var(--black);
  opacity: 0.3;
  transition: all 0.3s;
}

address a::before {
  left: 0;
}

address a::after {
  right: 0;
}

address a:hover::before,
address a:hover::after {
  width: 100%;
}

address a {
  text-decoration: none;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  cursor: pointer;
  color: var(--black);
  font-style: normal;
  font-size: 1rem;
}

.modalLink {
  color: var(--light);
}

.modalLink::before,
.modalLink::after {
  background: var(--light);
}

.modalDesc {
  color: var(--light);
}

.run-buddy {
  background-image: url('assets/images/screenshots/run-buddy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.shop-shop {
  background-image: url('assets/images/screenshots/shop-shop.PNG');
  background-size: cover;
  background-repeat: no-repeat;
}

.js-password-generator {
  background-image: url('assets/images/screenshots/password-gen-site.PNG');
  background-size: cover;
  background-repeat: no-repeat;
}

.nomadica {
  background-image: url('assets/images/screenshots/nomadica.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.dc-adopt {
  background-image: url('assets/images/screenshots/dc-adopt.PNG');
  background-size: cover;
  background-repeat: no-repeat;
}

.pizza-hunt {
  background-image: url('assets/images/screenshots/pizza-hunt.PNG');
  background-size: cover;
  background-repeat: no-repeat;
}

.otakuhq {
  background-image: url('assets/images/screenshots/otakuhq.png');
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  header h1 {
    font-size: 3.5vw;
  }
  .page-section {
    padding: 25px 100px;
  }
  .grid-container {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: minmax(200px, 1fr);
  }
  .grid-item {
    grid-column: span 5;
    grid-row: span 1;
  }
  .hero {
    background-size: 120vw;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    justify-content: center;
    background-size: 140vw;
  }
  address a {
    width: 50vw;
    margin: 1rem auto;
  }
  address {
    justify-content: center;
  }
}

@media screen and (max-width: 640px) {
  header {
    display: block;
    text-align: center;
  }
  .select {
    display: flex;
    justify-content: center;
  }
  header h1 {
    font-size: 6vw;
    margin-bottom: 1.5rem;
  }
  .hero {
    background-size: 300vw;
  }
  form {
    width: 300px;
    margin: auto;
  }
  #contact-form {
    padding: 0px;
  }
  .contact address a {
    width: 60vw;
  }
  address {
    display: flex;
    flex-wrap: wrap;
  }
  .grid-container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .page-section {
    padding: 25px 10px;
  }
}
